* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgb(36, 3, 48);
  font-family: "Karla";
  color: rgb(187, 197, 206);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces";
}
