* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgba(46, 26, 71, 1);
  font-family: "Karla";
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces";
}
